@model IEnumerable<Garage_2.Models.ViewModels.ParkedViewModel>


@{
    ViewData["Title"] = "Index2";
}

<h1 class="text-center">Garage overview</h1>
<br />
<form asp-controller="ParkedVehicles" asp-action="Index" method="get">
    <div class="input-group">
        <input type="text" name="inputSearchString" class="form-control" placeholder="Search on register number or vehicle type" required/>
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>

@if (ViewData["message"].ToString() != "")
{
    <div id="alert-nothing-found" class="alert alert-warning" role="alert">@Html.Encode(ViewData["message"])</div>
}

<br />
<p>
    <a asp-action="Create">Park Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeVehicType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedDateTime)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTypeVehicType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkedDateTime)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                    @Html.ActionLink(
                        /* Link text */ "Fetch vehicle",
                        /* Conroller */ "Receipt",
                        /* Id */        new { id = item.Id },
                        /* CSS class*/  new { @class = "link-fetch-vehicle" }

                         )
                </td>
            </tr>
        }
    </tbody>
</table>
