@model IEnumerable<Garage_2.Models.ViewModels.ParkedViewModel>

@{
    ViewData["Title"] = "Index2";
}

<h1>Garage overview</h1>
<br/>
<form asp-controller="ParkedVehicle" asp-action="Index" method="get">
    <div class="input-group">
        <input type="text" RegisterNumber="inputRegNumber" class="form-control" placeholder="Search on register number" />
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>
<div id="alert-user" class="alert alert-primary" role="alert">
    Text
</div>
<br/>
<p>
    <a asp-action="Create">Park Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedDateTime)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedDateTime)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Fetch vehicle","Receipt" , new { id = item.Id }) //
            </td>
        </tr>
}
    </tbody>
</table>
