@model Garage_2.Models.ReceiptViewModel.Receipt

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
    </dl>
    <p>Parkerad klockan @Model.ParkingTime</p>
    <p>Hämtad klockan @DateTime.Now</p>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to List</a>
</div>
