@model Garage_2.Models.ReceiptViewModel.Receipt

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div>
    @*<h4>Receipt</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerHour)         
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class="col-sm-2">
            Parked at:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
        <dt class="col-sm-2">
            Fetched at:
        </dt>
        <dd class="col-sm-10">
            @DateTime.Now
        </dd>
        <dt class="col-sm-2">
            Time parked is:
        </dt>
        <dd class="col-sm-10">
            @Model.TotalTimeParked h
        </dd>
        <dt class="col-sm-2 parking-cost">
            Cost:
        </dt>
        <dd class="col-sm-10 parking-cost">
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
